<?xml version="1.0"?>
<robot name="schunk_svh" xmlns:xacro="http://www.ros.org/wiki/xacro">

        <xacro:include filename="$(find schunk_svh_description)/urdf/svh.urdf.xacro" />

        <link name="base_link" />

        <!-- Individual joint configuration -->
        <xacro:macro name="joint_ros2_control" params="name">
                <joint name="${name}">
                        <command_interface name="position"/>
                        <state_interface name="position"/>
                        <state_interface name="velocity"/>
                        <state_interface name="effort"/>
                        <state_interface name="current"/>
                </joint>
        </xacro:macro>

        <!-- ROS2 control interfaces.
        The order of joints is important and is determined by the SVH library as follows.
                Thumb_Flexion
                Thumb_Opposition
                Index_Finger_distal
                Index_Finger_proximal
                Middle_Finger_distal
                Middle_Finger_proximal
                Ring_Finger
                Pinky
                Finger_Spread

        The system interface checks the SVH's firmware and loads the corresponding parameters.
        -->
        <ros2_control name="schunk_svh_driver" type="system">
                <xacro:joint_ros2_control name="Right_Hand_Thumb_Flexion"/>
                <xacro:joint_ros2_control name="Right_Hand_Thumb_Opposition"/>
                <xacro:joint_ros2_control name="Right_Hand_Index_Finger_Distal"/>
                <xacro:joint_ros2_control name="Right_Hand_Index_Finger_Proximal"/>
                <xacro:joint_ros2_control name="Right_Hand_Middle_Finger_Distal"/>
                <xacro:joint_ros2_control name="Right_Hand_Middle_Finger_Proximal"/>
                <xacro:joint_ros2_control name="Right_Hand_Ring_Finger"/>
                <xacro:joint_ros2_control name="Right_Hand_Pinky"/>
                <xacro:joint_ros2_control name="Right_Hand_Finger_Spread"/>

                <hardware>
                        <plugin>schunk_svh_simulation/Simulator</plugin>
                        <param name="mujoco_model">$(arg mujoco_model)</param>
                        <param name="mesh_directory">$(arg mesh_directory)</param>
                </hardware>
        </ros2_control>
</robot>
