<?xml version="1.0"?>
<robot name="schunk_svh" xmlns:xacro="http://www.ros.org/wiki/xacro">

        <xacro:include filename="$(find schunk_svh_description)/urdf/svh.urdf.xacro" />

        <link name="base_link" />

        <!-- Use a launch file parameter to choose between right and left hand -->
        <xacro:property name="control" value="$(arg control)"/>
        <xacro:if value="${control == 'right_hand'}">
                <xacro:property name="Hand" value="Right_Hand" />
                <xacro:svh parent="base_link" name="${Hand}" side="1">
                        <origin xyz="0 0 0"  rpy="0 0 0" />
                </xacro:svh>
        </xacro:if>
        <xacro:unless value="${control == 'right_hand'}">
                <xacro:property name="Hand" value="Left_Hand" />
                <xacro:svh parent="base_link" name="${Hand}" side="-1">
                        <origin xyz="0 0 0"  rpy="0 0 0" />
                </xacro:svh>
        </xacro:unless>

        <!-- Individual joint configuration -->
        <xacro:macro name="joint_ros2_control" params="name **config">
                <joint name="${name}">
                        <command_interface name="position"/>
                        <state_interface name="position"/>
                        <state_interface name="velocity"/>
                        <state_interface name="effort"/>
                        <state_interface name="current"/>
                        <xacro:insert_block name="config" />
                </joint>
        </xacro:macro>

        <!-- ROS2 control interfaces.
        The order of joints is important and is determined by the SVH library as follows.
                Thumb_Flexion
                Thumb_Opposition
                Index_Finger_distal
                Index_Finger_proximal
                Middle_Finger_distal
                Middle_Finger_proximal
                Ring_Finger
                Pinky
                Finger_Spread

        The system interface checks the SVH's firmware and loads the corresponding parameters.
        -->
        <ros2_control name="schunk_svh_driver" type="system">
                <xacro:joint_ros2_control name="${Hand}_Thumb_Flexion">
                        <xacro:include filename="$(find schunk_svh_driver)/urdf/parameters/thumb_flexion.xacro"/>
                </xacro:joint_ros2_control>

                <xacro:joint_ros2_control name="${Hand}_Thumb_Opposition">
                        <xacro:include filename="$(find schunk_svh_driver)/urdf/parameters/thumb_opposition.xacro"/>
                </xacro:joint_ros2_control>

                <xacro:joint_ros2_control name="${Hand}_Index_Finger_Distal">
                        <xacro:include filename="$(find schunk_svh_driver)/urdf/parameters/index_finger_distal.xacro"/>
                </xacro:joint_ros2_control>

                <xacro:joint_ros2_control name="${Hand}_Index_Finger_Proximal">
                        <xacro:include filename="$(find schunk_svh_driver)/urdf/parameters/index_finger_proximal.xacro"/>
                </xacro:joint_ros2_control>

                <xacro:joint_ros2_control name="${Hand}_Middle_Finger_Distal">
                        <xacro:include filename="$(find schunk_svh_driver)/urdf/parameters/middle_finger_distal.xacro"/>
                </xacro:joint_ros2_control>

                <xacro:joint_ros2_control name="${Hand}_Middle_Finger_Proximal">
                        <xacro:include filename="$(find schunk_svh_driver)/urdf/parameters/middle_finger_proximal.xacro"/>
                </xacro:joint_ros2_control>

                <xacro:joint_ros2_control name="${Hand}_Ring_Finger">
                        <xacro:include filename="$(find schunk_svh_driver)/urdf/parameters/ring_finger.xacro"/>
                </xacro:joint_ros2_control>

                <xacro:joint_ros2_control name="${Hand}_Pinky">
                        <xacro:include filename="$(find schunk_svh_driver)/urdf/parameters/pinky.xacro"/>
                </xacro:joint_ros2_control>

                <xacro:joint_ros2_control name="${Hand}_Finger_Spread">
                        <xacro:include filename="$(find schunk_svh_driver)/urdf/parameters/finger_spread.xacro"/>
                </xacro:joint_ros2_control>

                <hardware>
                        <plugin>schunk_svh_driver/SystemInterface</plugin>
                        <param name="device_file">$(arg device_file)</param>
                </hardware>
        </ros2_control>
</robot>
