<launch>
  <!-- global PARAMS Change here if needed -->
  <arg name="gui" default="False" />
  <arg name="autostart" default="true"/>
  <arg name="serial_device" default="/dev/ttyUSB0"/>
  <arg name="simulation" default="False"/>
  <arg name="controller_config" default="$(find schunk_svh_driver)/etc/controller_user.yaml" />
  <arg name="general_config" default="$(find schunk_svh_driver)/etc/svh.yaml" />
  <arg name="name_prefix" default="left_hand" />
  <arg name="frequency" default="30" />
  <arg name="maximal_force" default="0.9" />
  <arg name="trajectory_controller_name" />
  <arg name="debug" default="False" />
  <arg if="$(arg debug)" name="launch-prefix" value="screen -d -m gdb -command=$(env HOME)/.ros/my_debug_log --ex run --args"/>
  <arg unless="$(arg debug)" name="launch-prefix" value=""/>


  <!-- load basic configuration -->
  <rosparam file="$(arg general_config)" command="load" ns="svh_ros_control_node"/>
  <!-- Load Yaml Configuration file-->
<!--   <rosparam file="$(find schunk_svh_driver)/etc/controller_user.yaml" command="load" ns="svh_ros_control_node"/> -->
  <!--   Load the User Config file which will overwrite values from default -->
  <rosparam file="$(arg controller_config)" command="load" ns="svh_ros_control_node"/>


  <!-- Launch actual driver node (if not in simulation)-->
  <node unless="$(arg simulation)" name="svh_ros_control_node" pkg="schunk_svh_driver" type="svh_ros_control_node" output="screen" launch-prefix="$(arg launch-prefix)">
    <param name="serial_device" value="$(arg serial_device)"/>
    <param name="autostart" value="$(arg autostart)" />
    <param name="name_prefix" value="$(arg name_prefix)" />
    <param name="frequency"           type="int"      value="$(arg frequency)" />
    <param name="use_ros_control" type="bool" value="True"/>
    <param name="maximal_force" value="$(arg maximal_force)" />
    <param name="trajectory_controller_name" value="$(arg trajectory_controller_name)" />
    <remap from="~joint_states" to="/joint_states" />
  </node>

</launch>
